[Desktop Entry]
Type=Application
Icon=~/.local/share/icons/menu.png
Exec=sh -c ~/.config/rofi/launchers/type-3/launcher.sh
Hidden=false
NoDisplay=false
Name=Menu Launcher
